{% extends "layout.html.twig" %}
{% block title %}Gestion des campus{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="text-center">Gérer les campus</h1>
        {{ form_start(gestionCampus) }}
        <div class="form-row">
            <div class="col-4">
                {{ form_row(gestionCampus.nom) }}
            </div>
            <div class="col-3 align-self-center" style="padding-top: 15px">
                <input class="btn btn-outline-info"
                       type="submit" value="Rechercher">
            </div>
        </div>
        {{ form_end(gestionCampus) }}
        <br>
        <div class="table-responsive pre-scrollable table-bordered table-info">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Campus</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for campus in listeCampus %}
                    <tr>
                        <td style="padding-top: 35px">
                            {{ campus.nom }}
                        </td>
                        <td class="text-center">
                            <form action="{{ path('gestion_campus', {id: campus.id}) }}"
                                  onsubmit="return validate_update()">
                                <button class="btn btn-info" type="submit">
                                    Modifier
                                </button>
                            </form>
                            <form action="{{ path('supprimer_campus', {id: campus.id}) }}"
                                  onsubmit="return validate()">
                                <input id="status" hidden value="nope">
                                <button class="btn btn-danger mt-1" type="submit">
                                    Supprimer
                                </button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    {{ form_start(addCampus) }}
                    <td>{{ form_row(addCampus.nom) }}</td>
                    <td class="text-center" style="padding-top: 45px">{{ form_row(addCampus.Ajouter) }}</td>
                    {{ form_end(addCampus) }}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function validate() {
            if (document.getElementById("status").value) {
                return confirm('Voulez vous vraiment supprimer ce campus ?');
            } else {
                console.log('Non non');
                return false;
            }
        }

        function validate_update() {
            if (document.getElementById("status").value) {
                return confirm('Voulez vous vraiment modifier ce campus ?');
            } else {
                console.log('Non non');
                return false;
            }
        }
    </script>
{% endblock %}
