{% extends "layout.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block main %}
    <h3>Filtrer les sorties</h3>
    {{ form_start(findMesSortiesForm) }}
    <div class="form-row col-12">
        <div class="col-sm-6 col-xs-12">
            {{ form_row(findMesSortiesForm.nomSortie) }}
        </div>
        <div class="col-sm-6 col-xs-12">
            {{ form_row(findMesSortiesForm.nomCampus) }}
        </div>
        <div class="col-sm-6 col-xs-12">
            {{ form_row(findMesSortiesForm.dateDebut) }}
        </div>
        <div class="col-sm-6 col-xs-12">
            {{ form_row(findMesSortiesForm.dateFin) }}
        </div>
        <div class="col-sm-6 col-xs-12">
            {{ form_row(findMesSortiesForm.mesInscriptions) }}
        </div>
        <div class="col-12">
            <h5>Sorties : </h5>
        </div>
        <div class="col-sm-12 col-xs-12" style="padding-left: 30px">
            {{ form_row(findMesSortiesForm.mesSorties) }}
        </div>
        <div class="col-sm-12 col-xs-12" style="padding-left: 30px">
            {{ form_row(findMesSortiesForm.sortiesPassees) }}
        </div>
        <div class="col-12 text-center">
            <input class="btn btn-info" id="bouton-shadow" type="submit" value="Rechercher">
            <a class="btn btn-info d-none d-md-inline-block" id="bouton-shadow" href="{{ path('sortie') }}">Créer une sortie</a>
        </div>
    </div>
    {{ form_end(findMesSortiesForm) }}
    <br>

    {# Affichage du tableau #}
    {% if sorties | length > 0 %}
        {# Toutes les sorties #}
        {% if estInscrit is null %}
            <div class="table-responsive pre-scrollable table-bordered table-info">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">Inscrits/<br>places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/y') }}</td>
                            <td>{{ sortie.dateLimiteInscription | date('d/m/y') }}</td>
                            <td class="text-center">{{ sortie.inscriptions | length }} /
                                {{ sortie.nbInscriptionMax }}
                            </td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td class="text-center">
                                {% for numSortieInscrit in numeroSortieInscrit %}
                                    {% if numSortieInscrit == sortie.id %}
                                        X
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('profile', {pseudo: sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.prenom }}
                                    {{ sortie.organisateur.nom | slice(0,1) }}.</a>
                            </td>
                            {# Affichage dans la colonne 'Actions' #}
                            <td>
                                {% set inscrit = false %}
                                {% for numSortieInscrit in numeroSortieInscrit %}
                                    {% if numSortieInscrit == sortie.id %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {# Si l'utilisateur est inscrit #}
                                {% if inscrit == true %}
                                    {# Si l'utilisateur est l'organisateur de la sortie #}
                                    {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                        {# Modif' de l'affichage suivant l'état de la sortie #}
                                        {% if sortie.etat.libelle == 'créée' %}
                                            <a href="{{ path('sortie_modifier', {id: sortie.id}) }}">
                                                Modifier</a> - <a href="{{ path('publier', {id: sortie.id}) }}">Publier</a>
                                        {% elseif sortie.etat.libelle == 'activité en cours' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'passée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'annulée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% else %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher/Se désister</a> -
                                            <a href="{{ path('annuler_sortie',{id: sortie.id}) }}">
                                                Annuler</a>
                                        {% endif %}
                                    {% else %}
                                        {# Si l'utilisateur n'est pas l'organisateur de la sortie #}
                                        {% if sortie.etat.libelle == 'créée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'activité en cours' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'passée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'annulée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% else %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher/Se désister</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {# Si l'utilisateur n'est pas inscrit #}
                                    {# Si l'utilisateur est l'organisateur de la sortie #}
                                    {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                        {# Modif' de l'affichage suivant l'état de la sortie #}
                                        {% if sortie.etat.libelle == 'créée' %}
                                            <a href="{{ path('sortie_modifier', {id: sortie.id}) }}">
                                                Modifier</a> - <a href="{{ path('publier', {id: sortie.id}) }}">Publier</a>
                                        {% elseif sortie.etat.libelle == 'activité en cours' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'passée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'annulée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% else %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher/S'inscrire</a> -
                                            <a href="{{ path('annuler_sortie',{id: sortie.id}) }}">
                                                Annuler</a>
                                        {% endif %}
                                    {% else %}
                                        {# Si l'utilisateur n'est pas l'organisateur de la sortie #}
                                        {% if sortie.etat.libelle == 'créée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'activité en cours' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'passée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'annulée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% elseif sortie.etat.libelle == 'clôturée' %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher</a>
                                        {% else %}
                                            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                Afficher/S'inscrire</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {# Affichage du tableau si je suis inscrit #}
        {% elseif estInscrit == true %}
            <div class="table-responsive pre-scrollable table-bordered table-info">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">Inscrits/<br>places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    {% for sortie in sorties %}
                        {% for numSortieInscrit in numeroSortieInscrit %}
                            {% if numSortieInscrit == sortie.id %}
                                <tr>
                                    <td>{{ sortie.nom }}</td>
                                    <td>{{ sortie.dateHeureDebut | date('d/m/y') }}</td>
                                    <td>{{ sortie.dateLimiteInscription | date('d/m/y') }}</td>
                                    <td class="text-center">{{ sortie.inscriptions | length }} /
                                        {{ sortie.nbInscriptionMax }}
                                    </td>
                                    <td>{{ sortie.etat.libelle }}</td>
                                    <td class="text-center">
                                        {% for numSortieInscrit in numeroSortieInscrit %}
                                            {% if numSortieInscrit == sortie.id %}
                                                X
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('profile', {pseudo: sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.prenom }}
                                            {{ sortie.organisateur.nom | slice(0,1) }}.</a>
                                    </td>
                                    {# Affichage dans la colonne 'Actions' #}
                                    <td>
                                        {% set inscrit = false %}
                                        {% for numSortieInscrit in numeroSortieInscrit %}
                                            {% if numSortieInscrit == sortie.id %}
                                                {% set inscrit = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {# Si l'utilisateur est inscrit #}
                                        {% if inscrit == true %}
                                            {# Si l'utilisateur est l'organisateur de la sortie #}
                                            {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                                {# Modif' de l'affichage suivant l'état de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_modifier', {id: sortie.id}) }}">
                                                        Modifier</a> - <a href="{{ path('publier', {id: sortie.id}) }}">Publier</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/Se désister</a> -
                                                    <a href="{{ path('annuler_sortie',{id: sortie.id}) }}">
                                                        Annuler</a>
                                                {% endif %}
                                            {% else %}
                                                {# Si l'utilisateur n'est pas l'organisateur de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/Se désister</a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {# Si l'utilisateur n'est pas inscrit #}
                                            {# Si l'utilisateur est l'organisateur de la sortie #}
                                            {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                                {# Modif' de l'affichage suivant l'état de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_modifier', {id: sortie.id}) }}">
                                                        Modifier</a> - <a href="{{ path('publier', {id: sortie.id}) }}">Publier</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/S'inscrire</a> -
                                                    <a href="{{ path('annuler_sortie',{id: sortie.id}) }}">
                                                        Annuler</a>
                                                {% endif %}
                                            {% else %}
                                                {# Si l'utilisateur n'est pas l'organisateur de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'clôturée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/S'inscrire</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        {% else %}
            {# Affichage du tableau si je ne suis pas inscrit #}
            <div class="table-responsive pre-scrollable table-bordered table-info">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">Inscrits/<br>places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    {% for sortie in sorties %}
                        {% for numSortiePasInscrit in numeroSortiePasInscrit %}
                            {% if numSortiePasInscrit == sortie.id %}
                                <tr>
                                    <td>{{ sortie.nom }}</td>
                                    <td>{{ sortie.dateHeureDebut | date('d/m/y') }}</td>
                                    <td>{{ sortie.dateLimiteInscription | date('d/m/y') }}</td>
                                    <td class="text-center">{{ sortie.inscriptions | length }} /
                                        {{ sortie.nbInscriptionMax }}
                                    </td>
                                    <td>{{ sortie.etat.libelle }}</td>
                                    <td class="text-center">
                                        {% for numSortieInscrit in numeroSortiePasInscrit %}
                                            {% if numSortieInscrit == sortie.id %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('profile', {pseudo: sortie.organisateur.pseudo}) }}">{{ sortie.organisateur.prenom }}
                                            {{ sortie.organisateur.nom | slice(0,1) }}.</a>
                                    </td>
                                    {# Affichage dans la colonne 'Actions' #}
                                    <td>
                                        {% set inscrit = false %}
                                        {% for numSortiePasInscrit in numeroSortiePasInscrit %}
                                            {% if numSortiePasInscrit == sortie.id %}
                                                {% set inscrit = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {# Si l'utilisateur est inscrit #}
                                        {% if inscrit == true %}
                                            {# Si l'utilisateur est l'organisateur de la sortie #}
                                            {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                                {# Modif' de l'affichage suivant l'état de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_modifier', {id: sortie.id}) }}">
                                                        Modifier</a> - <a href="{{ path('publier', {id: sortie.id}) }}">Publier</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/S'inscrire</a> -
                                                    <a href="{{ path('annuler_sortie',{id: sortie.id}) }}">
                                                        Annuler</a>
                                                {% endif %}
                                            {% else %}
                                                {# Si l'utilisateur n'est pas l'organisateur de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/S'inscrire</a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {# Si l'utilisateur n'est pas inscrit #}
                                            {# Si l'utilisateur est l'organisateur de la sortie #}
                                            {% if sortie.organisateur.pseudo == app.user.pseudo %}
                                                {# Modif' de l'affichage suivant l'état de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_modifier', {id: sortie.id}) }}">
                                                        Modifier</a> - <a href="{{ path('publier', {id: sortie.id}) }}">Publier</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/S'inscrire</a> -
                                                    <a href="{{ path('annuler_sortie',{id: sortie.id}) }}">
                                                        Annuler</a>
                                                {% endif %}
                                            {% else %}
                                                {# Si l'utilisateur n'est pas l'organisateur de la sortie #}
                                                {% if sortie.etat.libelle == 'créée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'activité en cours' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'passée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'annulée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% elseif sortie.etat.libelle == 'clôturée' %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher</a>
                                                {% else %}
                                                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">
                                                        Afficher/S'inscrire</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}
    <br>
{% endblock %}