{% extends 'layout.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block main %}
    <div>
    {% if utilisateurIns is null and idInscription is null %}
        {% if sortie.etat.id == 2 and date(sortie.dateLimiteInscription) > date("now") and sortie.getInscriptions()|length < 5%}
        <div class="text-center">
            <p class="alert alert-primary" role="alert">Cette sortie est disponible jusqu'au {{ sortie.dateLimiteInscription | date('d/m/y') }}</p>
        </div>
        {% endif %}
    {% endif %}
    </div>

    <div>
        {% if sortie.getInscriptions()|length == 5 and utilisateurIns is null%}
            <div class="text-center">
            <p class="alert alert-danger" role="alert">Il n'y a plus de place disponible pour cette sortie.</p>
            </div>
        {% endif %}
    </div>

    <div>
        {% if  sortie.etat.libelle == "activité en cours" or sortie.etat.libelle == "passée" or sortie.etat.libelle == "archivée" %}
            <div class="text-center">
            <p class="alert alert-danger" role="alert">La sortie est déja en cours ou passée.</p>
            </div>
        {% endif %}
    </div>

    <dl class="row">
        <dt class="col-sm-3">Nom :</dt>
        <dd class="col-sm-9">{{ sortie.nom }} </dd>

        <dt class="col-sm-3">Commence le : </dt>
        <dd class="col-sm-9">{{ sortie.dateHeureDebut | date("d/m/yy h:m")}}</dd>

        <dt class="col-sm-3">Date limite d'inscription : </dt>
        <dd class="col-sm-9">{{ sortie.dateLimiteInscription | date("d/m/yy h:m")}}</dd>

        <dt class="col-sm-3">Nombre de places :</dt>
        <dd class="col-sm-9">{{ sortie.nbInscriptionMax }}</dd>

        <dt class="col-sm-3">Durée :</dt>
        <dd class="col-sm-9">{{ sortie.duree }} minutes</dd>

    {% if sortie.infosSortie is not null %}
        {% if sortie.etat.libelle != "annulée" %}
            <dt class="col-sm-3">Descriptions et infos : </dt>
        {% elseif sortie.etat.libelle == "annulée" %}
            <dt class="col-sm-3">Sortie annulée | RAISON : </dt>
        {% endif %}
        <dd class="col-sm-9">{{ sortie.infosSortie}}</dd>
    {% endif %}

        <dt class="col-sm-3">Campus :</dt>
        <dd class="col-sm-9">{{ sortie.organisateur.campus.nom }}</dd>

        <dt class="col-sm-3">Lieu</dt>
        <dd class="col-sm-9">

        <dl class="row">
        <dd class="col-sm-9">{{ sortie.lieu.nom }}</dd>
        <dt class="col-sm-3"> </dt>
        <dd class="col-sm-9">{{ sortie.lieu.rue }}</dd>
        <dt class="col-sm-3"> </dt>
        <dd class="col-sm-9">{{ sortie.lieu.ville.nom }}   {{ sortie.lieu.ville.codePostal }}</dd>

    {% if sortie.lieu.latitude and sortie.lieu.longitude is not null %}
        <dt class="col-sm-4">Coordonnées GPS :</dt>
        <dd class="col-sm-8">{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}</dd>
    {% endif %}

        </dl>
    </dl>
{#<div class="text-center">
            <dt class="col-sm-3">Nombre d'inscrit à l'évènement : </dt>
        <dd class="col-sm-9">{{ sortie.getInscriptions()|length }}</dt>
</div>#}
    <br><br>

    {% if sortie.inscriptions | length > 0 %}
        <div class="table-responsive pre-scrollable table-bordered table-info">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            {% for user in  users %}
            <tr>
                <td>
                    <a href="{{ path('profile', {pseudo: user.pseudo}) }}">
                    {{ user.pseudo }}
                    </a>
                </td>
                <td>
                    {{ user.prenom }}  {{ user.nom | upper }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    </form>

    <br>
    <div class="text-center">
    {% if utilisateurIns is not null and ((sortie.etat.libelle == "ouverte" or sortie.etat.libelle == "clôturée") and date(sortie.dateLimiteInscription) > date("now"))%}
        {% if utilisateurIns.id == app.user.id %}
            <p>Vous voulez vous désister?</p>
            <a class="btn btn-danger" href="{{ path('inscriptionDelete', {id: idInscription}) }}">Se désister</a>
        {% endif %}
    {% endif %}
    </div>

    <div class="text-center">
        {% if utilisateurIns is null and idInscription is null %}
            {% if sortie.etat.id == 2 and date(sortie.dateLimiteInscription) > date("now") and sortie.getInscriptions()|length < 5%}
                <a class="btn btn-primary" href="{{ path('inscription', {idSortie: sortie.id}) }}">S'inscrire</a>
            {% endif %}
        {% endif %}
    </div>


    <div class="text-center">
    {% if sortie.organisateur.pseudo == app.user.pseudo and (sortie.etat.libelle == "ouverte" or sortie.etat.libelle == "clôturée")  and app.user.administrateur == 0 %}
        <form action="{{ path('annuler_sortie', {id: sortie.id}) }}" ">
            <input type="hidden" id="raison" name="raisonUser"/>
            <button class="btn btn-light" type="submit">Annuler sortie</button>


    {% endif %}
    </div>

    <div class="text-center">
        {% if app.user.administrateur == 1 and  (sortie.etat.libelle == "ouverte" or sortie.etat.libelle == "clôturée") %}
            <form action="{{ path('annuler', {id: sortie.id}) }}" >
                <input type="hidden" id="raison" name="raisonAdmin"/>
                <button class="btn btn-danger" type="submit">Annuler sortie</button>

            </form>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function annulerSortie() {
            //return confirm('Voulez vous vraiment annuler cette sortie ?');

            var raison = prompt("Veuillez renseigner un raison d'annulation : ");
            if (raison == null || raison == "") {
                return false;
            } else {
                document.getElementById("raison").value = raison;
                return true;
            }
        }
    </script>

{% endblock %}