{% extends 'layout.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block main %}
<p>Nom de la sortie : {{ sortie.nom }}</p> {{ sortie.nom }}
    <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date("d/m/y")}}</p>
    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription | date("d/m/y")}}</p>
    <p>Nombre de places : {{ sortie.nbInscriptionMax }}</p>
    <p>Durée : {{ sortie.duree }}</p>
    {% if sortie.infosSortie is not null %}
        <p>Descriptions et infos : {{ sortie.infosSortie}}</p>
    {% endif %}
    <p>Campus : {{ sortie.organisateur.campus.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    {% if sortie.lieu.latitude and sortie.lieu.longitude is not null %}
        <p>Latitude : {{ sortie.lieu.latitude }}</p>
        <p>Longitude : {{ sortie.lieu.longitude }}</p>
    {% endif %}

    <p>Nombre d'inscrit à l'évènement : {{ sortie.getInscriptions()|length }}</p>

    {% if utilisateurIns is null and idInscription is null %}
        {% if sortie.etat.id == 2 and date(sortie.dateLimiteInscription) > date("now") and sortie.getInscriptions()|length < 5%}
            Bonjour, cette sortie est disponible jusqu'au {{ sortie.dateLimiteInscription | date('d/m/y') }}

            {{ form_start(inscriptionForm) }}

            {{ form_row(inscriptionForm._token) }}
            <button type="submit">S'inscrire</button>
            {{ form_end(inscriptionForm, {'render_rest': false}) }}

        {% endif %}
    {% endif %}

    {% if utilisateurIns is not null and sortie.etat.id == 2%}
        {% if utilisateurIns.id == app.user.id %}
            <p>Vous voulez vous désister?</p>
            {{ utilisateurIns.nom }}
            {{ utilisateurIns.id }}
            <a class="btn btn-danger" href="{{ path('inscription', {id: idInscription}) }}">Se désister</a>
        {% endif %}
    {% endif %}

    {% if sortie.getInscriptions()|length == 5 %}
        <p>Il n'y a plus de place disponible pour cette sortie.</p>
    {% endif %}

    {% if  sortie.etat.id != 1 and sortie.etat.id != 2 %}
        <p>Vous ne pouvez plus vous inscrire</p>
    {% endif %}
{% endblock %}
