{% extends 'layout.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block main %}
<p>Nom de la sortie : {{ sortie.nom }}</p> {{ sortie.nom }}
    <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date("d/m/y")}}</p>
    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription | date("d/m/y")}}</p>
    <p>Nombre de places : {{ sortie.nbInscriptionMax }}</p>
    <p>Durée : {{ sortie.duree }}</p>
    {% if sortie.infosSortie is not null %}
        <p>Descriptions et infos : {{ sortie.infosSortie}}</p>
    {% endif %}
    <p>Campus : {{ sortie.organisateur.campus.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    {% if sortie.lieu.latitude and sortie.lieu.longitude is not null %}
        <p>Latitude : {{ sortie.lieu.latitude }}</p>
        <p>Longitude : {{ sortie.lieu.longitude }}</p>
    {% endif %}

    {% if sortie.etat.id == 2 and date(sortie.dateLimiteInscription) > date("now") %}
        Bonjour, cette sortie est disponible jusqu'au {{ sortie.dateLimiteInscription | date('d/m/y') }}
    {% endif %}

    {% if  sortie.etat.id != 1 and sortie.etat.id != 2 %}
        Vous ne pouvez plus vous inscrire
    {% endif %}
{% endblock %}
