{% extends 'layout.html.twig' %}

{% block title %}Publiez vos sorties{% endblock %}

{% block main %}
    <h1>Ajouter une sortie</h1>
<div class="col-10">
    {{ form_start(sortieForm) }}
    <div>
        {{ form_label(sortieForm.nom) }}
        {{ form_widget(sortieForm.nom) }}
        {{ form_errors(sortieForm.nom) }}
    </div>

    <div>
        {{ form_label(sortieForm.dateHeureDebut) }}
        {{ form_widget(sortieForm.dateHeureDebut) }}
        {{ form_errors(sortieForm.dateHeureDebut) }}
    </div>

    <div>
        {{ form_label(sortieForm.dateLimiteInscription) }}
        {{ form_widget(sortieForm.dateLimiteInscription) }}
        {{ form_errors(sortieForm.dateLimiteInscription) }}
    </div>

    <div>
        {{ form_label(sortieForm.nbInscriptionMax) }}
        {{ form_widget(sortieForm.nbInscriptionMax) }}
        {{ form_errors(sortieForm.nbInscriptionMax) }}
    </div>

    <div>
        {{ form_label(sortieForm.duree) }}
        {{ form_widget(sortieForm.duree) }}
        {{ form_errors(sortieForm.duree) }}
    </div>

    <div>
        {{ form_label(sortieForm.infosSortie) }}
        {{ form_widget(sortieForm.infosSortie) }}
        {{ form_errors(sortieForm.infosSortie) }}
    </div>

    <div>
        {{ form_label(sortieForm.ville) }}
        {{ form_widget(sortieForm.ville) }}
        {{ form_errors(sortieForm.ville) }}
    </div>

    <div>
        <select id="lieuE" name="lieuE">
            {% for lieu in lieuE %}
            <option class="lieu" value="{{ lieu }}" data-lieu="{{ lieu }}">{{ lieu }}</option>
            {% endfor %}
        </select>
        <a href="{{ path('sortie') }}" title="Ajouter un lieu"><img src="{{ asset('img/bouton_ajouter.png') }}" alt="Ajouter un lieu" class="bouton-plus" width="35px"></a>
    </div>

    <div>
        <label>Rue : </label>
            <input type="text">
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var userRating = document.querySelector('.lieu');
            var lieu = userRating.dataset.lieu;
            console.log(lieu)

            // or with jQuery
            //var isAuthenticated = $('.js-user-rating').data('isAuthenticated');
        });
    </script>
    {{ form_row(sortieForm._token) }}
    <button type="submit">Enregistrer</button>
    <button type="submit">Publier la sortie</button>
    <button type="submit">Annuler</button>
    {{ form_end(sortieForm, {'render_rest': false}) }}

</div>
{% endblock %}