{% extends "layout.html.twig" %}
{% block title %}Gestion des villes{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="text-center">Gérer les villes</h1>
        {{ form_start(gestionVilles) }}
        <div class="form-row">
            <div class="col-4">
                {{ form_row(gestionVilles.nom) }}
            </div>
            <div class="col-3 align-self-center" style="padding-top: 15px">
                <input class="btn btn-outline-info"
                       type="submit" value="Rechercher">
            </div>
        </div>
        {{ form_end(gestionVilles) }}
        <br>
        <div class="table-responsive pre-scrollable table-bordered table-info">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Villes</th>
                        <th scope="col">Code postal</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {% for ville in listeVilles %}
                    <tr>
                            <td>
                                {{ ville.nom }}</td>
                            <td>
                                {{ ville.codePostal }}</td>
                            <td>
                                <form style="align-items:center" action="{{ path('gestion_villes', {id: ville.id}) }}" onsubmit="return validate_update()">
                                    <button class="btn btn-info" type="submit">Modifier Ville</button>
                                </form>
                                <form style="align-items:center" action="{{ path('supprimer_Ville', {id: ville.id}) }}" onsubmit="return validate()">
                                    <input id="status" hidden value="nope">
                                    <button class="btn btn-danger" type="submit">Supprimer Ville</button>
                                </form>
                            </td>
                    </tr>
                {% endfor %}
                <tr>
                    {{ form_start(addVille) }}
                    <td>{{ form_row(addVille.nom) }}</td>
                    <td>{{ form_row(addVille.codePostal) }}</td>
                    <td>{{ form_row(addVille.Ajouter) }}</td>
                    {{ form_end(addVille) }}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        function validate() {
            if (document.getElementById("status").value) {
                return confirm('Voulez vous vraiment supprimer cette ville?');
            } else {
                console.log('Non non');
                return false;
            }
        }
        function validate_update() {
            if (document.getElementById("status").value) {
                return confirm('Voulez vous vraiment modifier cette ville?');
            } else {
                console.log('Non non');
                return false;
            }
        }
    </script>
{% endblock %}