<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href={{ asset ("css/bootstrap.css") }}>
    <link rel="stylesheet" href={{ asset ("css/app.css") }}>
    <link rel="icon" href="img/sortir.png">
</head>
<body>
<header>
    <div id="header-title" class="col-12 flex-wrap flex-row">
        <img class="d-none d-sm-block" alt="logo" id="logo" src={{ asset("img/sortir.png") }}>
        <h1>Sortir.com</h1>
    </div>
</header>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{% include ('inc/nav.html.twig') %}
{% endif %}
<main>
    <br>
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block main %}{% endblock %}
    </div>
</main>
<footer>
    <h6>&copy;{{ "now" | date("Y") }} sortir.com</h6>
</footer>
</body>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>{% endblock %}

</html>