<nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-center"></span>
    </button>

    <a>Bienvenue {{ app.user.prenom }}<br>
        Nous sommes le {{ ("now" | date("d/m/y"))}}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="padding-left: 50px" >
            <li class="nav-item">
                <a class="nav-link" href="#">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Campus</a>
            </li>
            <li>
                <a class="nav-link" href="{{path('home')}}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('profile', {pseudo: app.user.pseudo}) }}">
                    Mon profil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>