{% extends 'layout.html.twig' %}
{% block title %}Import de fichier .CSV{% endblock %}
{% block main %}
    <h1>Import de fichier .CSV</h1>

    {{ form_start(fichierFrom) }}

    <label>Le fichier .csv : </label>
    <div class="btn btn-outline-primary">
        {{ form_label(fichierFrom.fichier) }}
        {{ form_widget(fichierFrom.fichier) }}
        {{ form_errors(fichierFrom.fichier) }}
    </div>

    <button class="btn btn-primary" type="submit">Enregistrer le fichier</button>
    {{ form_end(fichierFrom)}}

    <br>
    <a class="btn btn-light" href="javascript:history.back()">Retour</a>

{% endblock %}