{% extends 'layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <div class="jumbotron" id="afficher-sortie-shadow">
        <h1 class="text-center">Mon profil</h1>
        {{ form_start(userForm) }}
        <div class="form-row col-12">
            {% if user.getUrlPhoto() is not null%}
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4 text-center">
                <img src="{{ asset('uploads/photo_profil/' ~
                    user.getUrlPhoto()) }}" width="150" id="bouton-shadow">
            </div>
            {% endif %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_row(userForm.prenom) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_row(userForm.nom) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(userForm.pseudo) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(userForm.campus) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(userForm.telephone) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(userForm.mail) }}
            </div>
            <div class="col-12">
                <div class="form-row align-items-center">
                    <label class="col-2 col-lg-1 col-md-1 col-sm-2 col-xs-6">
                        Photo :</label>
                    <div class="col-7 col-lg-4 col-md-5 col-sm-7"
                         style="padding-top: 15px"
                         style="background-color:#5eb5e0">
                        {{ form_row(userForm.urlPhoto) }}
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-8 offset-lg-2">
                <div class="card-body row">
                    <h5 class="card-title col-12">
                        Modifier votre mot de passe :
                    </h5>
                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                        {{ form_row(userForm.password.first) }}
                    </div>
                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                        {{ form_row(userForm.password.second) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(userForm._token) }}
        <br>
        <div class="text-center">
            <button class="btn btn-info" id="bouton-shadow" type="submit">Modifier</button>
            <a class="btn btn-light" id="bouton-shadow" href="javascript:history.back()">Retour</a>
            {{ form_end(userForm, {'render_rest': false}) }}
            {% if app.user.administrateur == 1 %}
                <br>
                <br>
                <form action="{{ path('supprimer', {id: user.id}) }}" onsubmit="return validate()">
                    <label for="status"><input id="status" hidden value="nope"></label>
                    <button class="btn btn-danger" id="bouton-shadow" type="submit">Supprimer utilisateur</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function validate() {
            if (document.getElementById("status").value) {
                return confirm('Voulez vous vraiment supprimer cet utilisateur?');
            } else {
                console.log('Non non');
                return false;
            }
        }
    </script>
{% endblock %}
