{% extends 'layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}

    <div>
        {{ user.pseudo }}
    </div>

    <div>
        Prénom  : {{ user.prenom }}
    </div>

    <div>
        Nom  : {{ user.nom }}
    </div>

    <div>
        Téléphone  : {% if user.telephone %} {{ user.telephone}} {% else %} Pas de numéro renseigné {% endif %}
    </div>

    <div>
        Email  : {{ user.mail }}
    </div>

    <div>
        Campus  : {{ user.campus }}
    </div>

    <div>
        <a class="btn btn-primary" href="{% url('home') %}">Retour</a>
    </div>

{% endblock %}